@charset "utf-8";

@import url(style.css);



body{
	background: #000 ;
	font-family: helvetica, tahoma, arial;
	font-size: 13px;
}

.contenedor {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1300px;
	min-height: 600px;
	overflow: auto;
	max-height: 1300px;
	background:#DBDCD6;
	background:url("../images/creo que funciona.jpg")	
}


.navbar{
	display: inline;
	overflow: hidden;
	width: 30%
	text-decoration: none;
}





