<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Acerca de nosotros</title>
  <link rel="stylesheet" href="css/estilo.css"/>
</head>
<body>
 
 <header>
   <div id="subnavbar">
<ul id="subnav" class="right w20">

<li class="navbar"><a href="URL_de_la_pagina" title="Inicio"><img src="..images/inicio 1.png" /></a>
</li>
<li class="navbar"><a href="URL_de_la_pagina" title="Acerca de Nosotros"><img src="images/inico 2.png " /></a>
</li>
<li class="navbar"><a href=" URL_de_la_pagina " title="Nota del día"><img src="images/incio 3.png" /></a>
</li>
</ul>
</div>
 </header> 

 <footer>
 <div class="w100 c_negro">
  <ul class="l60 w40">
    <li><a href="">Inicio</a></li>
    <li><a href="">Catalogo</a></li>
    <li><a href="">Servicios</a></li>
    <li><a href="">Contacto</a></li>
  </ul>
</div>
 </footer>    
 


  
</body>
</html>
