<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Acerca de nosotros</title>
  <link rel="stylesheet" href="../css/estilo.css"/>
</head>
<body>
 
 <div class="contenedor2">
 <header>


   <div id="subnavbar">

<ul id="subnav" class="right w30">

<li class="navbar"><a href="../index.html" title="Inicio"><img src="../images/inicio 1.png" /></a>
</li>
<li class="navbar"><a href="../views/nosotros.html" title="Acerca de Nosotros"><img src="../images/inico 2.png " /></a>
</li>
<li class="navbar"><a href=" URL_de_la_pagina " title="Nota del día"><img src="../images/incio 3.png" /></a>
</li>
</ul>
</div>
 </header> 

<div class="caja">
	<font size="5" face="brixton" color=#fff>
		NOTA DEL DIA
	</font>
	<font size="10" face="impact" color=#fff>
		<br>EL TIGRE
		<br>DE BENGALA
	</font>
	<font size="3" face="brixton" color=#fff>
		 <br>
		 También conocido como tigre de Bengala real o tigre indio es una subespecie de tigre que habita en la India, Nepal, Bangladés, Bután, Birmania y Tíbet. Su piel es generalmente de color naranja o leonado. Existe una mutación genética que produce que la piel naranja del tigre sea sustituida por el color blanco; a estos tigres se les conoce como tigres blancos. Una mutación aún más rara (de la que existen menos de 100 ejemplares, todos en cautiverio), se conoce como tigre dorado. El tigre es un animal nacional en la India y Bangladés.
		 <p>
		 	Como todos los tigres, son animales solitarios y generalmente no viven en grupos, a excepción de las hembras, que viajan con sus crías en grupos de tres o cuatro. Los machos cuidan un territorio donde viven varias hembras con las que aparean. Los machos y las hembras solo se reúnen durante la época de reproducción, si bien se han mencionado casos de machos que alimentan a sus crías cuando la madre ha fallecido.11 La mayoría de las crías nacen entre febrero y mayo, y tras una gestación de entre 98 y 108 días, dan a luz una camada de 1 a 6 cachorros (normalmente de 2 a 4) de 1.1 kg de peso. La esperanza de vida para los tigres de Bengala machos es de entre 10 y 12 años, mientras que para las hembras es un poco más larga; sin embargo, los ejemplares en cautividad pueden llegar a vivir hasta 26 años. Los expertos descubrieron recientemente que aproximadamente el 25% de los tigres machos del Parque Nacional de Kanha mueren en luchas con otros tigres.
		 </p>
		 <p>
		 	Los tigres de Bengala son carnívoros y cazan desde pavos reales hasta búfalos asiáticos y gaures (incluyendo los grandes machos que alcanzan los 1000 kg de peso), pasando por toda una gama de presas que incluye monos, jabalíes, tapires, ciervos y antílopes. Se han reportado casos más raros en que los tigres han atacado a crías de rinoceronte y elefante, e incluso de individuos que fueron capaces de abatir y devorar a otros grandes carnívoros como leopardos y osos. Mucho más raros son los ataques contra humanos, aunque hasta hace un siglo se sucedían con cierta frecuencia. Se calcula que solo en Bangladesh se producen unos 100 ataques al año.
		 </p>
		  <p>
		 	La mayor parte de tigres de Bengala, casi un tercio de la población mundial de estos grandes felinos habita en la India y Bangladés. Los parques nacionales de estos países como Sundarbans y Ranthambore albergan la mayor parte de éstos. También hay una población importante en Nepal, principalmente en el parque Chitawan.
		 </p>


</div>

<footer>
	<div class="foot">
		<font size="2" face="brixton" color=#fff>
		Página desarrollada por Karen Alvardo y Melissa Melgar | Todos los derechos reservados 
	</font>
	</div>
</footer>




 </div>



   
 

  
</body>
</html>
